html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff8f2;
    color: #333;
}

p {
    color: #333;
}

.hero {
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url('https://images.unsplash.com/photo-1509042239860-f550ce710b93?&w=800') 
        center/cover;
    display: flex;
    justify-content: center;
    align-items: center; 

    background-attachment: fixed;
}

.hero-name {
    font-size: 30px;
    font-weight: 700;
     color: rgb(255, 255, 255);
    text-align: center;
}

.about-section {
    background-color: #fef5eb;
    padding: 80px 8%;
    text-align: center;
}
.about-section h3 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.about-section p {
    font-size: 20px;
    line-height: 1.7;
    max-width: 800px;
    margin: 0 auto 20px auto;   
    color: #333;
}

.about-us {
    font-size: 36px;
    padding: 40px 5%;
    text-align: center;
    font-weight: 700;
}

footer {
    background-color: #222;
    color: white;
    padding: 30px 5%;
    text-align: center;
    font-size: 16px;
}

footer p {
    color: white;
}