* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff8f2;
    color: #333;
}

.brand h1, .brand img {
    user-select: none;   
    cursor: default;
}

p {
    color: #333;
}

header {
    background-color: #ff7a1a;
    padding: 20px 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.brand img {
    width: 100px;
    height: 85px;
    object-fit: contain;
}

header h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.about-path, .menu-toggle {
    font-weight: 500;
}

.menu-toggle {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.mobile-menu {
    position: fixed;
    top: 90px;
    right: -100%;
    width: 220px;
    background: white;
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
    transition: right 0.3s ease;
}

.mobile-menu a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}

.mobile-menu.active {
    right: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 650;
    transition: 0.3s;
    padding: 8px 15px; 
    border-radius: 7.5px;

    position: relative;
}

nav a:hover {
    background-color: #e96b10;
    color: white;
}

nav a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #e96b10; 
    border-radius: 8px;
    z-index: -1; 
    transition: width 0.3s ease;
}

nav a:hover::before {
    width: 100%;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: white;
    transition: 0.8s;
}

nav a:hover::after {
    width: 100%;
}

.hero {
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url('https://images.unsplash.com/photo-1509042239860-f550ce710b93') 
        center/cover;
    display: flex;
    justify-content: center;
    align-items: center; 

    background-attachment: fixed;
}

.hero-name {
    font-size: 30px;
    font-weight: 700;
     color: rgb(255, 255, 255);
    text-align: center;
}

.featured, .featured-others-sweets {
    padding: 60px 8%;
    text-align: center; 
}

.featured-canada-sweets-container {
    background-color: rgba(0, 0, 0, 0.6);
}

.featured-canada-sweets {
    color: red;
    padding: 60px 8%;
    text-align: center; 
}


.featured h3, .featured-canada-sweets h3, .featured-others-sweets h3 {
    font-size: 32px;
    margin-bottom: 40px;
}

.featured-canada-sweets h4 {
    color: #333;
}

.canadian-sweets {
    background: linear-gradient(to right, rgb(255, 255, 255) 50%, 
    rgb(255, 0, 0) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.coffe-grid, .sweet-grid, .others-sweets-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 115px;
    justify-items: center;
}

.coffee-item, .sweet-item, .other-sweet-item {
    background: rgb(230, 180, 124);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;

   cursor: pointer;
}

.coffee-item:hover, .sweet-item:hover, .other-sweet-item:hover {
    transform: translateY(-5px);
}

.coffee-item img, .sweet-item img, .other-sweet-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

@media (max-width: 900px) {
    .coffe-grid, .sweet-grid, .others-sweets-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .coffe-grid, .sweet-grid, .others-sweets-grid {
        grid-template-columns: 1fr;
    }
}

.coffee-item h4 {
    margin-bottom: 10px;
}

.about-section {
    background-color: #fef5eb;
    padding: 80px 8%;
    text-align: center;
}
.about-section h3 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.about-section p {
    font-size: 20px;
    line-height: 1.7;
    max-width: 800px;
    margin: 0 auto 20px auto;   
    color: #333;
}

.about-us {
    font-size: 36px;
    padding: 40px 5%;
    text-align: center;
    font-weight: 700;
}

footer {
    background-color: #222;
    color: white;
    padding: 30px 5%;
    text-align: center;
    font-size: 16px;
}

footer p {
    color: white;
}


